<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Hello</title>
</head>
<body>
{{ question_set }}


{{current_question['question']}}


{{current_question['answer']}}

<form method="POST" action="{{ url_for('index')}}">
  <label for="answer">{{current_question['question']}}</label>
  <input type="text" id="answer" name="answer">

<input type="submit">
</form>
  <div id="form-message-success" class="mb-4">
    <!-- Your message was sent, thank you! -->
    <!-- Display Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
  <div class="form-message-success flash-message {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
  </div>
</body>
</html>